#app
  h1.title
    padding-left: 1rem
  .content-wrapper
    padding-top: 1rem
    justify-content: center
    display: -webkit-flex
    .content
      width: 98%
  h1.title a
    color: #00b5ad 
  .list .item:hover
    color: #00b5ad
    i
      color: #00b5ad
